.header-logo{
    height: 100px;
    width: 150px;
}

.header-part{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.nav-bar >ul{
    display: flex;
    list-style-type: none;
}

.nav-bar >ul > li{
    padding: 0px 10px;
}

.res-logo{
    height: 200px;
    width: 200px;
    
}

.res-comp{
    background-color: #f0f0f0;
    border: 1px solid black;
    width: 210px;
    padding: 10px;
    margin: 10px;
    word-wrap: break-word;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    
}

.top-btn{
    margin: 10px;
}
